<div>
    <form action = "/users/verify" method = "POST" >
        <input type="email"  placeholder="Enter your email" name = "email">
        <input type = "submit" value = "Forget Password">
    </form>
</div>